.link1 {
  color: red;
}

.link2 {
  color: red;
}

.link3 {
  color: red;
}

.todoapp {
  color: black;
  background-color: rgb(42, 139, 224);
}
.footer {
  color: #ff0000;
}

.header h1 {
  color: red;
}
